<!DOCTYPE html>
<html>
  <head>
    <title>Main</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">오리</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/coin">거래소</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/join">회원가입</a>
      </li>
    </ul>
  </nav>
  <br>
<h2>검색 페이지</h2>

<form action="/action_page" method="POST">
  <input type="text" id="search" name="search" value="" >
  <input type="submit" value="검색">
</form> 


</body>
</html>
