<!DOCTYPE html>
<html>
    <head>
        <title>입Duck</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/duck">회원전용</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ipduck">입Duck</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/joyuriz">조유리즈</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      조유리즈 멤버
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/joyuriz1">최예나</a>
                      <a class="dropdown-item" href="/joyuriz2">김채원</a>
                      <a class="dropdown-item" href="/joyuriz3">조유리</a>
                    </div>
                </li>      
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/">오리 &nbsp;<img src={{ url_for('static', filename='img/homeyena1.png') }} width="50" height="50">&nbsp;예나</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/join">회원가입</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="alert alert-danger">
        <strong>주의 !</strong>&nbsp;&nbsp;&nbsp;덕통사고 위험구역입니다.
    </div>

    <div class="mx-auto order-0" style="text-align:center;">
        <div style="background-color : #f0f0f0;">
            <br/>
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/rCRwjo8XCv4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            <br/><br/>
        </div>
            
        <div class="bg-dark" height="100">
            <br>
            <table align="center" class = "text-white">
                <thead>
                    <th>
                        <h2> [아이즈원/최예나] 예나 입Duck 모음 Vol.30 </h2>
                        <br/>
                    </th>
                </thead>
            </table>
       </div>

       
        
        <div >
            <p class="bg-light text-dark">
                <br> &nbsp;&nbsp; © 2021. Min-GyeongWon_20160958 All Rights Reserved. <br> <br>
            </p>
        </div>
          
      </div>
      
</body>
</html>